.cont1{
    width:1150px;
    height:400px;
    /* border:1px solid black; */

}
.cont1 img{
    width:100%;
    height:100%;
}
.cont1 pre{
    position:absolute;
    top:20px;
    color:white;
    font-size: 80px;
    margin-left: 400px;

}
#p1{
    background-color: black;
    color:white;
    position:absolute;
    top:360px;
    left: 20px;
}
#p2{
    color:white;
    position:absolute;
    top:360px;
    right: 30px;
    margin-left: 985px;

}
.cont2{
    width:600px;
    height:1870px;
    /* border: 1px solid black; */
    margin-left: 270px;
}
h3{   
   
    font-weight: normal;
    margin-left: 450px;
    background-color: black;
    color:white;
    position:absolute;
    
}
#p3{
    margin-top: 100px;
    font-family: "Inconsolata", sans-serif;

}
#p4{
    font-family: "Inconsolata", sans-serif;
}
.cont2 img{
    width:100%;
}
.cont2 pre{
    font-size: 15px;
}
.menu{
    width:600px;
    height:600px;
    margin-top: 90px;
    /* border:1px solid black; */
    position:relative;
}
h4{
    margin-left: 230px;
    font-weight: normal;
    background-color: black;
    color:white;
    position:absolute;
    margin-bottom: 40px;
}
.eat{
    display:inline-block;
    width:300px;
    height:30px;
    background-color: gray;
    text-align: center;
    border:1px solid green;
}
.drink{
    display:inline-block;
    width:300px;
    height:30px;
    text-align: center;
    border:1px solid green;
    position:absolute;
    top:0px;
}
#grey{
    color:gray
}
