.container{
    margin: 50px 50px 50px 210px;
    /* border-width:2px;
    border-style:solid;
    border-color:red; */
    width: 1900px;

}
.child-1{
    display: inline-block;
    /* border-width:2px;
    border-style:solid;
    border-color:red; */
    width: 450px;
    margin-right: 20px;
}
.child-2{
     display: inline-block;
    /* border-width:2px;
    border-style:solid;
    border-color:red; */
     width: 450px;
     margin-right: 20px;
}
.child-3{
     display: inline-block;
    /* border-width:2px;
    border-style:solid;
    border-color:red; */
     width: 450px;
     margin-right: 20px;
}
.child-4{
     display: inline-block;
    /* border-width:2px;
    border-style:solid;
    border-color:red; */
    width: 450px;
}
.img{
    width:100%;
}
h2,h3{
    text-align: center;
    font-weight: normal;
}