.container{
    margin: 50px 50px 50px 25px;
    /* border-width:2px;
    border-style:solid;
    border-color:red; */
    width: 1100px;

}
.child-1{
    display: inline-block;
    padding-left:40px;
    /* border-width:2px;
    border-style:solid;
    border-color:red; */
    width: 250px; 
    /* margin-left: 20px;
    margin-right: 20px; */
}
.child-2{
    display: inline-block;
    /*border-width:2px;
    border-style:solid;
    border-color:red; */
    width: 250px; 
     /* margin-right: 20px;
     margin-right: 20px; */
}
.child-3{
     display: inline-block;
    
    /* border-width:2px;
    border-style:solid;
    border-color:red; */
    width: 250px;
     /* margin-right: 20px; */
}
.child-4{
     display: inline-block;
    /* border-width:2px;
    border-style:solid;
    border-color:red; */
    width: 250px;
}
img{
    width:100%;
}
h2,h3{
    text-align: center;
    font-weight: normal;
}